/*----------------------------------------------------------------
                          .v-branch
---------------------------------------------------------------*/
.v-branch-body {
  font-family: PingFang SC,Lantinghei SC,Helvetica Neue,Helvetica,Arial,Microsoft YaHei,STHeitiSC-Light,simsun,WenQuanYi Zen Hei,WenQuanYi Micro Hei,"sans-serif";
  padding: 0;
  list-style: none;
}
.v-branch-body > .v-branch {
  padding-left: 1.2em;
}
.v-branch > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*----------------------------------------------------------------
                      .v-node && .v-leaf
---------------------------------------------------------------*/

.v-node,
.v-leaf {
  display: flex;
  align-items: center;
  padding: 0 0 0 1.2em;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  cursor: pointer;
}

.v-leaf {
  margin: 0 0 0 1.2em;
}

.v-node span,
.v-leaf span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.v-node > .fa,
.v-leaf > .fa {
  width: 1.2em;
  flex: auto 0 0;
  color: #0d83e6;
  vertical-align: middle;
  cursor: pointer;
}

.v-node > .fa:before,
.v-leaf > .fa:before {
  vertical-align: middle;
}

.v-node .fa:hover,
.v-leaf .fa:hover {
  color: #0c71c5;
}

.v-node > .cursor-no-ops {
  cursor: not-allowed;
}

.v-node > .cursor-progress {
  cursor: progress;
}